# save this file as goonbot.service at /etc/systemd/system
[Unit]
Description=Your Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/<user>/goonbot/goonbot.py
WorkingDirectory=/home/<user>/goonbot
Restart=always
User=<user>

[Install]
WantedBy=multi-user.target
