# save this file as goonbot.service at /etc/systemd/system
[Unit]
Description=Your Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/goonbot/goonbot.py
WorkingDirectory=~/goonbot
Restart=always
User=devin

[Install]
WantedBy=multi-user.target
